site_name: Celeste Wiki
repo_url: https://github.com/LuckyBoy-7/CelesteWikiModule

theme:
  name: material
  language: zh
  logo: assets/images/favicon.png
  font: false
  features:
    - content.code.copy
    - content.tabs.link

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference


extra_css:
  - css/content.css

markdown_extensions:
  - admonition # 警告
  - meta # 元数据
  - attr_list
  - md_in_html
  - def_list # 列表
  - pymdownx.tilde # 下划线
  - pymdownx.tasklist # 列表
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.highlight: # 语法高亮
      pygments_lang_class: true
      linenums: true

nav:
  - 首页: "index.md"
  - 常规:
      - 游戏官网: "https://www.celestegame.com/"
      - Wiki: "general/wiki.md"
      - 社区: "general/community.md"
      - 常规:
          - 原版常见问题: "general/common/vanilla_issues.md"
          - 基本术语补充: "general/common/basic_terms.md"
          - 游戏机制和技巧: "general/common/mechanics.md"
          - 彩蛋: "general/common/easter_eggs.md"
          - 技巧和攻略向教程: "general/common/tutorials.md"
      - 查阅: "general/lookup.md"
      - 新闻: "https://maddie480.ovh/celeste/olympus-news"
      - 速通: "general/speedrun.md"
      - 炼金: "general/deathless.md"
      - TAS: "general/tas.md"
  - Mods:
      - Mod下载: "mods/download.md"
      - 常规:
          - Everest下载问题: "mods/common/everest_install_issues.md"
          - 游戏崩溃问题: "https://saplonily.top/celeste_common_issues/index.html"
          - 调试模式: "https://wiki.biligame.com/celeste/%E8%B0%83%E8%AF%95%E6%A8%A1%E5%BC%8F"
          - 推荐Mod: "mods/common/recommended_mods.md"
      - 工具: "mods/tools.md"
      - 资源: "mods/resources.md"
  - 制图:
      - 入门:
        - 开始: "mappings/start/start.md"
        - 这...是个梦吗: "mappings/start/is_that_a_dream.md"
      - Loenn:
          - 下载(或者群文件里下): "https://github.com/CelestialCartographers/Loenn/releases"
          - 基本概念及使用: "https://wiki.biligame.com/celeste/Loenn"
          - 常见问题: "mappings/loenn/faq.md"
          - 房间: "mappings/loenn/room.md"
          - 元数据(Map -> Metadata): "mappings/loenn/metadata.md"
          - 背景(Map -> Stylegrounds): "mappings/loenn/stylegrounds.md"
      - 常用: "mappings/useful_links.md"
      - 提问/自学: "mappings/question_and_self_study.md"
      - 教程: "mappings/overall.md"
      - Mod结构: "mappings/mod_structure.md"
      - Dialog: "mappings/dialog.md"
      - Camera: "mappings/camera.md"
      - Graphics: "mappings/graphics.md"
      - Audio: "mappings/audio.md"
      - Lua Cutscene: "mappings/lua_cutscene.md"
      - Collab: "https://wiki.biligame.com/celeste/%E5%90%88%E9%9B%86%E5%88%B6%E4%BD%9C%E6%95%99%E7%A8%8B"
      - Code: "mappings/code.md"
      - 发布Mod: "mappings/publish_mod.md"
